* {
	background: #D5DBDB;
	font-family: helvetica;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

li{
	background: #ADC1EB;
	padding: 3px;
	max-width: 250px;
	text-indent: 5px;
	list-style-position: inside;
}
li:first-of-type{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

li:last-of-type {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

h1, h2, h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	color: #0940B2
}

blockquote {
	font-family: 'Dancing Script', cursive;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	background-color: #ADC1EB;
	width: 465px;
	padding: 8px;
	border-radius: 6px;
}

p {
	text-align: center;
	}

a:hover {
	background-color: #F0B27A
}

img {
	padding: 1px;
	border: 2px solid #0940B2;
	display: block;
}

#home_return:hover {
	background-color:  #D35400;
}

@media screen and (max-width: 500px) {
	li {
		max-width: 240px;}
		body{
			max-width: 480px;
		}
		img {
			max-width: 300px;
		}
		blockquote {
			max-width: 240px;
		}
}
